@media all and (min-width: 480px) {
    .login {
      

      border: 1px solid black;
      border-radius: 5px;
      width: 50%;
      background-color: white;
      opacity: 0.8;

    }
  
    .login-form {
      
      margin: 0 auto;
      width: 50%;
      text-align: center;
    }
  }

