.registration {
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
}

.registration-form {
    text-align: center;
}

.registration {
    background-color: white;
    opacity: 0.8;
}
